node_modules
.pnpm-store
.DS_Store
*.local
*.gen.*

web/node_modules
web/dist
web/dist-ssr
web/.content-collections
web/.nitro
web/.tanstack
web/.output
web/.vinxi
web/__unconfig*
web/todos.json

.wrangler
**/.wrangler

api/.env*
